.auto {
  cursor: auto !important;
}

.grab {
  cursor: grab !important;
}

.grabbing {
  cursor: grabbing !important;
}

.move {
  cursor: move !important;
}

.not-allowed {
  cursor: not-allowed !important;
}