.mainBackground {
  background-position: right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239298ac' fill-opacity='0.07'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.viewPort::after {
  content: "";
  position: absolute;
  right: -22px;
  top: -22px;
  width: calc(100% + 22px);
  height: calc(100% + 22px);

  border-image-slice: 35 35 0 0;
  border-image-width: 35px 35px 0px 0px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/Metal-Border.png");
  pointer-events: none;
}

@media (max-width: 1024px) {
  .viewPort::after {
    right: 0px;
    top: -20px;
    width: 100%;
    height: calc(100% + 10px);
    border-image-slice: 35 0 0 0;
    border-image-width: 35px 0px 0px 0px;
    border-image-source: url("/Horizontal-Metal-Bar.png");
  }
}

.popover::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);

  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/Metal-Border-Small.png");
  pointer-events: none;
}
